@mixin wp-block() {
  .info {
    display: flex;
    justify-content: end;
    p {
      margin: 0 0 20px 20px;
    }
  }
  h1.wp-block-heading {
    font-size: 36px;
  }
  h2.wp-block-heading {
    font-size: 30px;
  }
  h3.wp-block-heading {
    font-size: 24px;
  }
  h4.wp-block-heading {
    font-size: 20px;
  }
  h5.wp-block-heading {
    font-size: 16px;
  }
  h6.wp-block-heading {
    font-size: 12px;
  }
  h1.wp-block-heading,
  h2.wp-block-heading,
  h3.wp-block-heading,
  h4.wp-block-heading,
  h5.wp-block-heading {
    margin: 40px 0 20px;
  }
  figure.wp-block-table {
    table {
      margin-bottom: 10px;
      width: 80%;
    }
  }
  figure.wp-block-image {
    margin: 10px 0;
  }
  strong {
    font-weight: bold;
  }
  a {
    color: blue;
    font-weight: bold;
  }
  p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  ul {
    li {
      list-style: disc;
      margin-left: 20px;
    }
  }
  ol {
    li {
      list-style: decimal;
      margin-left: 20px;
    }
  }
  code {
    margin: 100px 2px;
    padding: 1px 3px;
    font-size: 1rem;
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 5px;
  }
}
