@import "./discription-card";
@import "./product-card";
@import "./movie-card";

.more {
  text-align: center;
  display: block;
  span {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ddd;
    font-weight: bold;
		transition: all 0.2s;
    &:hover {
      background-color: #bbb;
    }
  }
}
