@import "../wp-block";

.discription-single {
  font-weight: normal;
  padding: 40px;
  background-color: #fff;
  .top-title {
    text-align: center;
    font-size: 2.75rem;
    font-weight: bold;
    padding-top: 0;
  }
  .info {
    display: flex;
    justify-content: end;
    p {
      margin: 0 0 20px 20px;
    }
  }
  .author {
    text-align: end;
    margin-bottom: 20px;
  }
  @include wp-block();
}
