@import "../wp-block";

.discription-single {
  font-weight: normal;
  padding: 40px;
  background-color: #fff;
  .top-title {
    text-align: center;
    font-size: 3.25rem;
    font-weight: bold;
    padding-top: 0;
  }
  a {
    span {
      color: #000;
    }
  }
  .info {
    p {
      margin: 0;
    }
  }
  @include wp-block();
}
