@import "./wp-block";

.discription-single {
  font-weight: normal;
  padding: 40px;
  background-color: #fff;
  h1 {
    font-size: 3.5rem;
  }
  a {
    span {
      color: #000;
    }
  }
  .info {
    p {
      margin: 0;
    }
  }
  @include wp-block();
}
