.product-single {
  width: 100%;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 20px;
  img {
    max-width: 100%;
    padding-top: 10px;
    max-height: 900px;
    border-radius: 20px;
		margin: 0 auto;
  }
  & > div {
    padding: 0 40px 30px;
    h2,
    h3 {
      margin-bottom: 20px;
    }
    .stacks {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .links {
      display: flex;
      margin-bottom: 20px;
      a {
        margin-right: 20px;
        padding: 10px;
        border-radius: 4px;
        background-color: #ddd;
        font-weight: bold;
      }
    }
  }
}
