@import "../wp-block";

.site-privacy {
  font-weight: normal;
  padding: 40px;
  background-color: #fff;
  h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 40px;
  }
  h2,
  h3,
  h4 {
    margin: 40px 0 10px;
  }
  .info {
    p {
      text-align: end;
    }
  }
  @include wp-block();
}
